/* Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white-100: #fff;
  --white-90: #cdc4c4;
  --black-100: #000;
  --black-90: rgba(0, 0, 0, 0.9);
  --black-80: #141414;
  --black-05: rgba(0, 0, 0, 0.05);
  --grey-90: #3d3d3d;
  --red-90: #e50914;
  --red-80: #f40612;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--white-100);
  background-color: var(--black-100);
  font-size: 16px;
}

/* Header */
header {
  background: linear-gradient(to right, var(--black-90), var(--black-05)),
    url("/assets/images//background-header.jpg");
  height: 100vh;
}

#navbar {
  display: flex;
  width: 100%;
  height: 180px;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (min-width: 375px) {
  #navbar {
    gap: 8px;
  }
}

@media screen and (max-width: 767px) {
  #navbar {
    flex-direction: column;
    align-content: flex-start;
  }
}

@media screen and (min-width: 768px) {
  #navbar {
    max-width: 760px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  #navbar {
    max-width: 1000px;
  }
}
.navbar-logo {
  width: 180px;
  margin-left: 3%;
}

.navbar-sign-in {
  color: var(--white-100);
  background-color: var(--red-90);
  line-height: normal;
  padding: 7px 14px;
  font-weight: 400;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  text-decoration: none;
  width: 77px;
  border: none;
}

/* Pitch */
.pitch {
  margin: 0 3%;
  position: absolute;
  top: 35%;
  font-size: 1.8vw;
}

.pitch-title {
  font-size: 3em;
  margin: 0 0 0.2em;
  font-weight: 700;
}

.pitch-subtitle {
  margin: 0 0 0.5em;
  text-transform: uppercase;
}

.pitch-btn {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1.9px;
  font-weight: 400;
  margin: 0.5em 0.5em 0.5em 0;
  padding: 12px 1em;
  color: var(--white-100);
  background-color: var(--red-90);
  cursor: pointer;
  text-decoration: none;
  border-radius: 2px;
  user-select: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border: none;
}

.navbar-sign-in:hover,
.pitch-btn:hover {
  background-color: var(--red-80);
}

/* Features */
#features > nav {
  padding-top: 35px;
  background-color: var(--black-80);
  border-bottom: 2px solid var(--grey-90);
}

#features > nav a {
  text-decoration: none;
  text-align: center;
  vertical-align: top;
  font-weight: bold;
  color: var(--white-90);
}

#features > nav a :hover {
  color: var(--white-100);
}

#features > nav a img {
  height: 49px;
}

#features > nav a h2 {
  margin: 10px 0 0 ;
  font-size: 1em;
}

/* Flex-Box classes */
.columns {
  display: flex;
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.center {
  margin: 0 auto;
}

.size-80 {
  width: 80%;
}